<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <link rel="stylesheet" href="https://adminlte.io/themes/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">

        <link rel="stylesheet" href="https://adminlte.io/themes/AdminLTE/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="https://adminlte.io/themes/AdminLTE/dist/css/skins/skin-blue.min.css">
        <title>Demandé RDV envoyé</title>
    </head>
    <body>
         <div class="box">
            <div class="box box-solid box-primary">
                <div class="box header bg-blue">
                    <center>
                        <h2 class="box-title">Demande de rendez-vous</h2>
                    </center>
                </div>
                <div class="container">
                    <p>Merci pour votre demande, il a été bien enregistré une fois confirmé vous receverez la confirmation a votre email : <a th:text="${person.email}"></a></p>
                </div>
            </div>
         </div>
    </body>
</html>
