
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<title>Insert title here</title>
</head>
<body>	
	<center>
		<h5>impression du Badge et du MDP Wifi</h5>
	</center>
	<div class="col-sm-4">
		<button type="button" class="btn btn-outline-primary btn-lg">Impression mot de passe wifi</button>
	</div>
	<p>
	</p>
	<div class="col-sm-4">
		<button type="button" class="btn btn-outline-secondary btn-lg">retrait badge</button>
	</div>
	<p>
	</p>
	<div class="col-sm-4">
		<a class="btn btn-warning" href="/" role="button">Accueil</a>
	</div>
</body>
</html>