
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<title>Planning</title>
</head>
<body>	
	<center>
		<h5>planning de la Prise de RDV</h5>
	</center>
	
	<div>
            <div class="card">
                <h3 class="card-header" id="monthAndYear"></h3>
                <table class="table table-bordered table-responsive-sm" id="calendar">
                    <thead>
                    <tr>
                        <th>Dimanche</th>
                        <th>Lundi</th>
                        <th>Mardi</th>
                        <th>Mercredi</th>
                        <th>Jeudi</th>
                        <th>Vendredi</th>
                        <th>Samedi</th>
                    </tr>
                    </thead>

                    <tbody id="calendar-body">

                    </tbody>
                </table>

                <div class="form-inline">

                    <button class="btn btn-outline-primary col-sm-6" id="previous" onclick="previous()">Precedent</button>

                    <button class="btn btn-outline-primary col-sm-6" id="next" onclick="next()">Suivant</button>
                </div>
                <br/>
                <form class="form-inline">
                    <label class="lead mr-2 ml-2" for="month">Aller au: </label>
                    <select class="form-control col-sm-4" name="month" id="month" onchange="jump()">
                        <option value=0>Janvier</option>
                        <option value=1>Fevrier</option>
                        <option value=2>Mars</option>
                        <option value=3>Avril</option>
                        <option value=4>Mai</option>
                        <option value=5>Juin</option>
                        <option value=6>Juillet</option>
                        <option value=7>Aout</option>
                        <option value=8>Septembre</option>
                        <option value=9>Octobre</option>
                        <option value=10>Novembre</option>
                        <option value=11>Decembre</option>
                    </select>


                    <label for="year"></label><select class="form-control col-sm-4" name="year" id="year" onchange="jump()">

                    <option value=2019>2019</option>
                    <option value=2020>2020</option>
                    <option value=2021>2021</option>
                    <option value=2022>2022</option>
                    <option value=2023>2023</option>
                    <option value=2024>2024</option>
                    <option value=2025>2025</option>
                    <option value=2026>2026</option>
                    <option value=2027>2027</option>
                    <option value=2028>2028</option>
                    <option value=2029>2029</option>
                    <option value=2030>2030</option>
                </select></form>
            </div>
        </div>
        <script src="scripts.js"></script>

        <!-- Optional JavaScript for bootstrap -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous">                
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
                integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
                crossorigin="anonymous">                
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
                integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
                crossorigin="anonymous">                
        </script>
        <script>    // LES TROIS LIGNES DE COMMENTAIRE RAPPORTE DES BUGGS AU PROGRAMME POUR RAISON IGNOREE 
                    // POUR L'INSTANT C'EST POURQUOI PU AFFICHER LES RENDEZ-VOUS DANS LE CALENDRIER
            //th:inline="javascript"
            //var m = [[${meetings}]];
            //console.log(m);
            let today = new Date();
            let currentMonth = today.getMonth();
            let currentYear = today.getFullYear();
            let selectYear = document.getElementById("year");
            let selectMonth = document.getElementById("month");

            let months = ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"];
            

            let monthAndYear = document.getElementById("monthAndYear");
            showCalendar(currentMonth, currentYear);


            function next() {
                currentYear = (currentMonth === 11) ? currentYear + 1 : currentYear;
                currentMonth = (currentMonth + 1) % 12;
                showCalendar(currentMonth, currentYear);
            }

            function previous() {
                currentYear = (currentMonth === 0) ? currentYear - 1 : currentYear;
                currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;
                showCalendar(currentMonth, currentYear);
            }

            function jump() {
                currentYear = parseInt(selectYear.value);
                currentMonth = parseInt(selectMonth.value);
                showCalendar(currentMonth, currentYear);
            }

            function showCalendar(month, year) {

                let firstDay = (new Date(year, month)).getDay();
                let daysInMonth = 32 - new Date(year, month, 32).getDate();

                let tbl = document.getElementById("calendar-body"); // body of the calendar

                // clearing all previous cells
                tbl.innerHTML = "";

                // filing data about month and in the page via DOM.
                monthAndYear.innerHTML = months[month] + " " + year;
                selectYear.value = year;
                selectMonth.value = month;

                // creating all cells
                let date = 1;
                for (let i = 0; i < 6; i++) {
                    // creates a table row
                    let row = document.createElement("tr");

                    //creating individual cells, filing them up with data.
                    for (let j = 0; j < 7; j++) {
                        if (i === 0 && j < firstDay) {
                            let cell = document.createElement("td");
                            let cellText = document.createTextNode("");
                            cell.appendChild(cellText);
                            row.appendChild(cell);
                        }
                        else if (date > daysInMonth) {
                            break;
                        }

                        else {
                            let cell = document.createElement("td");
                            let cellText = document.createTextNode(date+"............");
                            if (date === today.getDate() && year === today.getFullYear() && month === today.getMonth()) {
                                cell.classList.add("bg-info");
                            } // color today's date
                            cell.appendChild(cellText);
                            row.appendChild(cell);
                            date++;
                        }


                    }

                    tbl.appendChild(row); // appending each row into calendar body.
                }

            }
        </script>
        <p>
            
        </p>
        <p>
            
        </p>
	<a class="btn btn-warning" href="/" role="button">Accueil</a>
	
</body>
</html>