
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<title>Planning</title>
</head>
<body>	
	<center>
		<h5>planning de la Prise de RDV</h5>
	</center>
	
	<div>
		<ul class="list-group">
		  <li class="list-group-item disabled">Lundi</li>
		  <li class="list-group-item disabled">Mardi</li>
		  <li class="list-group-item disabled">Mercredi</li>
		  <li class="list-group-item disabled">Jeudi</li>
		  <li class="list-group-item disabled">Vendredi</li>			
		</ul>
	</div>
	
	<a class="btn btn-warning" href="/" role="button">Accueil</a>
	<a class="btn btn-danger" href="/meeting/book" role="button">prendre un rdv </a>
	
</body>
</html>